@charset "utf-8";
/* CSS Document */

@media print {

	#s-lib-bc-customer, #s-lib-bc-site, #s-lib-bc-group, #s-lib-bc-page {
		display: none;
	}

	.nav-pills {
		display: none;
	}

	.s-lib-box-title {
		padding: 0;
	}

	#s-lg-col-0{
		display: none;
	}

	.vuw-library-header{
		display: none;
	}

	.s-lg-tabs-side {
		display: none !important;
	}

	.col-md-9 {
		width: 100% !important
	}

	#s-lg-guide-name{
		font-size: 2em !important;	
		color: #000 !important;
	}
	.s-lib-box-std .s-lib-box-title{
		background-color: #fff !important;
		color: #000 !important;
		padding: 0 !important;
		border: 0 !important;
	}
	.s-lg-page-section{
		display: none !important;	
	}

}