@import url("./vuw-library-branding.css");
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #444;
  line-height: 1.5;
}
body.s-lc-public {
  overflow-y: scroll;
}

#s-lc-public-title h1, .s-lc-public-header-text h1, .s-lc-public-header-text .h1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 3.28571em !important;
  line-height: 0.93;
  margin-bottom: 0.47em;
  -webkit-font-smoothing: antialiased;
  color: #115737;
}

#s-lc-public-header, .s-lc-public-header-text {
  padding: 0;
  margin-bottom: 0;
}

/*Embeddable mini-calendar - from Widgets/API section */
#mini-calendar {
  font-size: 1.25em;
  border: 0px solid #066A9E;
  padding: 2px;
  border-radius: 5px;
}

.cal-mini {
  width: 100%;
  font-family: Arial, Verdana, sans-serif;
}

.cal-mini td {
  border-right: 1px solid #f2f2f2;
}

.cal-mini-day {
  width: auto;
  height: 4em;
}

.cal-mini-day-head, .cal-mini-title-row td {
  border: 0px !important;
  background-color: #f2f2f2;
  font-size: 1.25em;
}

.cal-mini-title {
  text-align: center;
  color: #362E2C;
  font: bold 1.2em Arial, Verdana, sans-serif;
}

.cal-mini-day-head {
  color: #7F7F7F;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.cal-mini-arrow {
  text-align: center !important;
  font-size: 1.2em;
}

.cal-mini-day-num, .cal-mini-day-pad {
  text-align: center;
  color: #362E2C;
  margin: 1px;
}

.cal-mini-hasevent a {
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 3px;
  background-color: #0ba695;
  border: 1px solid #fff;
  display: block;
  color: #fff;
  text-decoration: none;
}

.cal-mini-hasevent a:hover {
  background-color: #fff;
  color: #FF972F;
  text-decoration: none;
  border: 1px solid #FF972F;
}

#calevent-mini-list-h {
  padding: 3px 0px 3px 5px;
  color: #362E2C;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #066A9E;
  background-color: #f2f2f2;
  font: bold 1.2em Arial, Verdana, sans-serif;
}

.calevent-mini {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: auto;
}

.calevent-mini-time {
  padding: 0px;
  margin: 0px;
  color: #4A4A4A;
  font-size: 11px;
}

.calevent-mini li a {
  font-weight: bold;
}

.calevent-mini li {
  padding: 0.5em 5px;
  margin: 0px;
  border-bottom: 1px solid #f2f2f2;
}

.calevent-mini li:hover {
  background-color: #f2f2f2;
}

.fc-day-grid-event, .fc-time-grid-event {
  border-color: #065e55 !important;
  border-width: 0px !important;
  padding: 0.5em;
  color: #fff !important;
  border-radius: 0px !important;
  margin: 0px !important;
  font-size: 1.1em;
}

.fc-time-grid-event {
  height: 1em;
}

.fc-scroller {
  overflow-y: hidden !important;
  height: auto !important;
}

/* dropin session */
#embed-calendar-container .cat20727 {
  background-color: #0ba648 !important;
}

/* Endnote */
#embed-calendar-container .cat20671 {
  background-color: #0b6aa6 !important;
}

/* workshop */
#embed-calendar-container .cat20670 {
  background-color: #ab480b !important;
}

/* zotero */
#embed-calendar-container .cat20748 {
  background-color: #ab0b6a !important;
}

.s-lc-event-tip, .s-lc-cal-tip {
  border-width: 0.25em !important;
  font-size: 1.1em;
  background-color: #FFF !important;
  border-radius: 0px !important;
}

.s-lc-event-tip, .s-lc-cal-tip {
  background-color: #FFF !important;
}

.fc-row .fc-content-skeleton {
  position: relative;
  z-index: 3;
  padding-bottom: 0px;
}

.cat21035, .ebooks {
  background-color: #0B6BA6;
  color: #fff;
}

.cat21036, .endnote {
  background-color: #065E55;
  color: #fff;
}

.cat21037, .library-research-skills {
  background-color: #0BA694;
  color: #fff;
}

.cat21038, .library-tours {
  background-color: #A60B1D;
  color: #fff;
}

.cat21039, .pacifika {
  background-color: #0BA649;
  color: #fff;
}

.cat21040, .zotero {
  background-color: #940BA6;
  color: #fff;
}

.embed-cal-771 {
  overflow-x: hidden;
}

#s-lc-event-tool-btns {
  float: left !important;
  margin-bottom: 1.5em;
}

#s-lc-event-regreq {
  display: none;
}

.fc-more-cell .fc-more {
  font-size: 1em;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0px !important;
  display: block;
}

.fc-more-cell {
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
  padding-left: 0.25em !important;
}/*# sourceMappingURL=vuw-library-libcal.css.map */